
=form_for @contacto do |c|
  =c.label :nombre
  =c.text_field :nombre
  %br
  =c.label :apellido
  =c.text_field :apellido
  %br
  =c.label :telefono
  =c.text_field :telefono
  %br
  =c.label :correoElectronico
  =c.text_field :correoElectronico
  %br
  =c.label :direccion
  =c.text_field :direccion
  %br
  =c.submit
