
=form_for @empleado do |f|
  =f.label :nombre
  =f.text_field :nombre
  %br
  =f.label :apellido
  =f.text_field :apellido
  %br
  =f.label :genero
  =f.select(:genero, [['Masculino'], ['Femenino']])
  %br
  =f.label :telefono
  =f.text_field :telefono
  %br
  =f.label :numeroDocumento
  =f.text_field :numeroDocumento
  %br
  =f.submit
