
=form_for @empresa do |f|
  =f.label :razonSocial
  =f.text_field :razonSocial
  %br
  =f.label :nit
  =f.text_field :nit
  %br
  =f.label :direccion
  =f.text_field :direccion
  %br
  =f.label :telefono
  =f.text_field :telefono
  %br
  =f.label :fax
  =f.text_field :fax
  %br
  =f.label :sitioWeb
  =f.text_field :sitioWeb
  %br
  =f.submit
